body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-mid: 17px;

  /* Colors */
  --color-black: #000;
  --color-whitesmoke: #eeecec;
  --color-gray: rgba(16, 16, 19, 0);
  --color-white: #fff;

  /* Gaps */
  --gap-45xl: 64px;
  --gap-5xl: 24px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-23xl: 42px;
}
